* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* width: auto;
    height: auto; */
    z-index: -1;
    /* transform: translate(-50%, -50%); */
    object-fit: cover;
}

.buttons {
    height: 100px;
    display: flex;
    position: relative;

    .home {
        position: absolute;
        top: 30%;
        left: 5%;
        height: 50%;
        width: 10%;

        border-radius: 10px;
        border: 2px solid #fff;
        background: transparent;
        backdrop-filter: blur(5px);
        color: #fff;
        font-size: 20px;

    }

    .favorite {
        position: absolute;
        right: 5%;
        top: 30%;
        height: 50%;
        width: 10%;

        border-radius: 10px;
        border: 2px solid #fff;
        background: transparent;
        backdrop-filter: blur(5px);
        color: #fff;
        font-size: 20px;

    }

}


.favorite:hover {
    transform: scale(1.3);
    font-weight: 500;
    transition: 0.5s ease, transform 0.5s ease;
    border: 2px solid #8ef553;
    color: #8ef553;
}

.home:hover {
    transform: scale(1.3);
    font-weight: 500;
    transition: 0.5s ease, transform 0.5s ease;
    border: 2px solid #8ef553;
    color: #8ef553;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        width: 35%;
    }
}

.filters {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .filter {
        height: 50%;
        width: 15%;
        border-radius: 5px;
        border: 2px solid;
        box-shadow: 0 0 30px 0 #fff;
        background: transparent;
        color: #fff;
        font-size: 20px;
        backdrop-filter: blur(10px);
        padding: 5px;
    }


}

.filters>input::-webkit-input-placeholder {
    font-size: 20px;
    color: #fff;
}

select>option {
    color: black;
}
.observer{
    position: fixed;
    top: 60%;
    width: 15%;
    height: auto;
   
}
.charsContainer {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    border-radius: 30px;
    backdrop-filter: blur(3px);
    gap: 20px;
    box-shadow: 0 0 10px 0 white;


    .char {
        border-radius: 10px;
        background-color: black;
        padding: 5px;
        position: relative;
        box-shadow: 0 0 10px #fff;

        .data{
            background-color: #fff;
            border-radius: 5px;
            padding: 5px;
        }
    }

    img {
        width: 90%;
        z-index: 1;
        border-radius: 50%;
        margin-left: 5%;
    }

    button {
        width: 15%;
        z-index: 2;
        position: absolute;
        right: 3%;
        top: 3%;
        background: none;
        border: none;

        .fav{
            fill: red;
        }
        
    }

  

}
.load{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #loadMore {
        margin-top: 30px;
        margin-bottom: 100px;
        border-radius: 10px;
        height: 50px;
        border: 2px solid #fff;
        background: transparent;
        backdrop-filter: blur(5px);
        color: #fff;
        font-size: 20px;
        width: 13%;
    }
}
#loadMore:hover {
    border: 2px solid #8ef553;
    color: #8ef553;
    transform: scale(1.3);
    transition: 0.5s ease, transform 0.5s ease;
}
